  <form action="/" method="get">
    <label for="startstation">Start Station
      <select name="start-station" id="start-station" >
        <% $Lines.values.flatten.uniq.each do |station| %>
          <option value="<%= station %>" <%= "selected" if station == @start %>><%= station %></option>
        <% end %>
      </select>
    </label>
    <label for="stopstation">Stop Station
      <select name="stop-station" id="stop-station">
        <% $Lines.values.flatten.uniq.each do |station| %>
          <option value="<%= station %>" <%= "selected" if station == @stop %>><%= station %></option>
        <% end %>
      </select>
    </label>
    <button>Submit!</button>
  </form>
</div>
<% if @stops %>e
  <div id="journey">
    <% @stops.each do |stop| %>
      <div class="line <%=find_line(stop, $Lines) unless stop == @stops[-1] %>">
        <div class="station_name">
          <div class="station_text">
            <%=stop.to_s.gsub("_"," ") %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

