  <form action="/fetch" method="get">
    <input name="title" placeholder="Movie Title">
    <button>Submit!</button>
  </form>
</div>
<% if @title != nil %>
  <div id='info'>
    <img src="<%= @poster%>">
    <p>Title: <%= @movies["Actors"] %></p>
    <p>Year: <%= @movies["Year"]%></p>
    <p>Starring: <%= @movies["Actors"] %></p>
    <p>Synopsis: <%= @movies["Plot"] %></p>
  </div>
<% end %>