<div class="butterfly">
    <h3><%= @plant.name %></h3>
    <img src="<%=@plant.image %>">
  </div>

<form action="/plants/<%= @plant.id %>" method="post">
  <label for="name">Name of plant:</label>
  <input type="text" name="name" id="name" value="<%= @plant.name %>">
  <label for="image">Image URL:</label>
  <input type="URL" name="image" id="image" value="<%= @plant.image %>">
  <button type="submit">Edit plant</button>
</form>