<div class="butterfly">
    <h3><%= @butterfly.name %></h3>
    <h4><%= @butterfly.family %></h4>
    <img src="<%=@butterfly.image %>">
  </div>

<form action="/butterflies/<%= @butterfly.id %>" method="post">
  <label for="name">Name of Butterfly:</label>
  <input type="text" name="name" id="name" value="<%= @butterfly.name %>">
  <label for="image">Image URL:</label>
  <input type="URL" name="image" id="image" value="<%= @butterfly.image %>">
  <label for="family">Family:</label>
  <select name="family" id="family">
    <% %w(Papilionidae Pieridae Nymphalidae Lycaenidae Riodinidae).each do |family| %>
      <option <%= "selected" if family == @butterfly.family %>><%= family %></option>
    <% end %>
  </select>
  <label for="plant">Larval Plant:</label>
  <select name="plant_id" id="plant">
    <option value="0">None</option>
    <% Plant.all.each do |plant| %>
      <option value="<%= plant.id %>" <%="selected" if @butterfly.plant_id == plant.id %>><%= plant.name %></option>
    <% end %>
  </select>
  <button type="submit">Edit butterfly</button>
</form>