<aside class="page-aside">
  <form action="/calculate" method="get">
    <div class="station-box">
      <label class="station-input" for="start-station">Start Station:</label><br>
        <select name="start-station" id="start-station">
          <% $network.sort.each do |line, stations| %>
          <optgroup label="<%= line %> Line">
            <% stations.each do |station, value|%>
              <option value="<%= line %>:<%= station %>"><%= station%></option>
            <% end %>
          </optgroup>
          <% end %>
        </select>
      <br><br>
      <label class="station-input" for="stop-station">Stop Station:</label><br>
        <select name="stop-station" id="stop-station">
          <% $network.sort.each do |line, stations| %>
          <optgroup label="<%= line %> Line">
            <% stations.each do |station, value|%>
              <option value="<%= line %>:<%= station %>"><%= station%></option>
            <% end %>
          </optgroup>
          <% end %>
        </select><br><br>
      <button class="submit" type="submit">Calculate</button>
    </div>
  </form>
</aside>

<div class="page-content">

  <div id="map" class="opagued">
    <!--     BEGIN connection lines -->
    <div class="v-line six one"></div>
    <div class="v-line six two"></div>
    <div class="v-line six three"></div>
    <div class="v-line six four"></div>
    <div class="v-line six five"></div>
    <div class="v-line n one"></div>
    <div class="v-line n two"></div>
    <div class="v-line n three"></div>
    <div class="v-line n four"></div>
    <div class="v-line n five"></div>
    <div class="v-line l one"></div>
    <div class="v-line l two"></div>
    <div class="v-line l three"></div>
    <div class="v-line l four"></div>
    <!--     END connection lines  -->
    <% $network.each do |line, stations| %> <!-- Layer 1: rtn key-value pair in $network -->
      <% stations.each do |station, value| %> <!-- Layer 2: rtn key-value pair for each stations item-->
        <% value.to_s %> <!-- 2.1 turn value into string... -->
          <% if station == "Union Square" %> <!-- Layer 3: omit LINE in class if station is Union Square -->

            <% if @start_station == station && @start_line == line || @stop_station == station && @stop_line == line %> <!-- Layer 4 -->
              <div class="station_circle <%= station.downcase.delete(" ") %> _<%= value %> selected" ><p class="st_name"><%= station%></p>
              </div>
            <% else %>
              <div class="station_circle <%= station.downcase.delete(" ") %> _<%= value %>" ><p class="st_name"><%= station%></p>
              </div>
            <% end %> <!-- end Layer 4 -->
          <% else %> 

            <% if @start_station == station && @start_line == line || @stop_station == station && @stop_line == line %> <!-- Layer 4 -->
              <div class="station_circle circle-<%= line %> <%= station.downcase.delete(" ") %> _<%= value %> selected" ><p class="st_name"><%= station%></p>
              </div>
            <% else %>
              <div class="station_circle circle-<%= line %> <%= station.downcase.delete(" ") %> _<%= value %>" ><p class="st_name"><%= station%></p>
              </div>
            <% end %> <!-- end Layer 4 -->
          <% end %> <!-- end Layer 3 -->

      <% end %> <!-- end Layer 2 -->
    <% end %> <!-- end Layer 1 -->
  </div>

</div>









