<% if @user.errors.any? %>
  <h1> TRY AGAIN!</h1>
  <ol>
    <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  </ol>
<%= form_for @user do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username, :autofocs => true %>

  <%= f.label :avatar %>
  <%= f.url_field :avatar %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit %>