<%= form_for @artist do |f| %>
  <p>
    <%= f.label :name, 'Artist Name: ' %>
    <%= f.text_field :name, :autofocus => true %>
  </p>

  <p>
    <%= f.label :nationality, 'Nationality: ' %>
    <%= f.text_field :nationality %>
  </p>

  <p>
    <%= f.label :dob, 'Date of Birth: ' %>
    <%= f.text_field :dob, :placeholder => 'YYYY-MM-DD' %>
  </p>

  <p>
    <%= f.label :period, 'Period: ' %>
    <%= f.text_field :period %>
  </p>

  <p>
    <%= f.label :image, "Image URL: " %>
    <%= f.text_field :image %>
  </p>

  <%= f.submit %>
<% end %>