<form action="/" method="get">
<p><%= @input.to_s %><br>
Start Line : <%= @start_line.to_s %><br>
Start Stop : <%= @start_stop.to_s %><br>
Ending Stop : <%= @ending_stop.to_s %><br>
Ending Line : <%= @ending_line.to_s %><br><br>
Total Stops : <%= @total_stops.to_s %></p>
</form>