
<div id="container">
  <p>The Movie you looked for : <em><%= @title %><em> </p>
  <div class= "img"><img src=<%= @poster %>/></div>
  <div class="info">
    <p><span>Released,  </span> <%= @year %> </p>
    <p><span>Made by,  </span> <%= @director %></p>
    <p><span>Awards :  </span> <br>
      <%= @award %></p>
    <p><span>Plot :</span><br>
      <%= @plot %></p>
  </div><!--////////////// close info ////////////-->
</div><!--////////////// close container ////////////-->