<h2><%= @video.title %></h2>
<h3>Genre: <%= @video.genre %></h3>
<h4>Description: <%= @video.description %></h4>




<iframe width="640" height="360" src="//www.youtube.com/embed/<%= @url%>" frameborder="0" allowfullscreen></iframe>
<div>
<section class="task">
  <a href="/memetube/<%= @video.id %>/edit">Edit</a>
</section>
<section class="task">
  <a href="/memetube/<%= @video.id %>/delete">Delete</a>
</section>
</div>