<h3>Trip results</h3>
<p>You are getting on at line <%= @start_line.upcase %> stop <%= @start_station %> and getting off at line <%= @end_line.upcase %> stop <%= @end_station %>.</p>

  <p>You will pass though <%= @trip1 %>,<%= @trip2 %> stations and the total stops is: <%= @trip  %></p>

