  
<% if @result && @result['Error'] %>
  <p class='error'><%= @result['Error'] %></p>
<% end %>

<% if @result && @result['Search'] %>
  <% @result['Search'].each do |movie| %>
    <div>
      <p><a class="idlinks" href="/movie?id=<%=movie['imdbID']%>"> <%= movie['Title'] %></a></p>
    </div>
  <% end %>
<% end %>

<form action="/" method="gets">
  <input name="search" placeholder="Movie Title">
  <button>Search!</button>
</form>




 


<!-- 





 <div id = 'Movie'>
<h3> Enter Movie Title! </h3>
<form action = '/' method ="get">
	 <input name = "title" placeholder = "Enter Movie Title here...">
	 <button>Search</button>
</form>



<div class ="imdb">
  <% if @result %> 
  <% @result['Search'].each do |movie| %>
 <p><a href="/movie?id=<%=movie['imdbID']%>"> <%= movie['Title'] %></a></p>
  </p>
  <% end %>
  <% end %>
 
</div>

 -->








