
<img src="<%= @movie["Poster"] %>"/>
<h3><%= @movie["Title"] %></h3>
    <p>
      <%= @movie["Year"] %>
      <%= @movie["Rated"] %>
      <%= @movie["Runtime"] %>
      <%= @movie["Genre"] %>
    </p>
    <p>
      <%= @movie["Director"] %>
    </p>
    <p>
      <%= @movie["Writer"] %>
    </p>
    <p>
      <%= @movie["Actors"] %>
    </p>
    <p>
      <%= @movie["Plot"] %>
    </p>
    <p>
      <%= @movie["Awards"] %>
    </p> 

<!--#########################-->

  <!--  <p>
   <img src="<%= @movie['Poster'] %>"/>
  </p>  -->
 