<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/style.css">
  <title>Movie Search!</title>
</head>

<body>
  <h1><a href="/movies">OMBD Movie Search</a></h1>
    <div id="yield">
      <%= yield %>
    </div>
  <h3><%= @movie_title["Title"] %></h3>
    <p>
      <%= @movie_title["Year"] %>
      <%= @movie_title["Rated"] %>
      <%= @movie_title["Runtime"] %>
      <%= @movie_title["Genre"] %>
    </p>
    <p>
      <%= @movie_title["Director"] %>
    </p>
    <p>
      <%= @movie_title["Writer"] %>
    </p>
    <p>
      <%= @movie_title["Actors"] %>
    </p>
    <p>
      <%= @movie_title["Plot"] %>
    </p>
    <p>
      <%= @movie_title["Awards"] %>
    </p>
</body>
</html>
