<h1><%= @user.username%>'s Details</h1>
<p>Name: <%= @user.username %></p>
<p>Email: <%= @user.email %></p>
<p>Date of Birth: <%= @user.dob %></p>
<p>Image: <%= image_tag(@user.image) %></p>

<%= link_to('Edit Your Details', edit_user_path(@user) )%>