<div class="box">
  <form action="<%= @ocean %>" method='post'>
    <p><label for="name">Name: </label>
    <input type="text" id="name" name="ocean[name]" value='<%= @ocean.name %>' autofocus></p>

    <p><label for="location">Location: </label>
    <input type="text" id="location" name="ocean[location]" value='<%= @ocean.location %>'></p>

    <p><label for="area">Area(km²): </label>
    <input type="number" id="area" name="ocean[area]" value='<%= @ocean.area %>'></p>

    <p><label for="depth">Depth(m): </label>
    <input type="number" id="depth" name="ocean[depth]" value='<%= @ocean.depth %>'></p>

    <p><label for="image">Image(URL): </label>
    <input type="url" id="image" name="ocean[image]" value='<%= @ocean.image %>'></p>

    <button>Update Ocean</button>
  </form>
</div>