<form action="/memetube/<%= @video.id %>" method="post">
  <label for="title">Title:
    <input type="text" id="title" name="title" value="<%=@video['title'] %>">
  </label>

  <label for="description">Description:
    <textarea id="description" name="description" rows="5"><%=@video['description'] %>
    </textarea>
  </label>

  <label for="url">Url:
    <input type="text" id="url" name="url" value="<%=@video.url %>">
  </label>

  <label for="genre">Genre:
    <input type="text" id="genre" name="genre" value="<%=@video.genre %>">
  </label>

  <button type="submit">Upload</button>
</form>