
<div id='show_img'>
  <p><%= image_tag(@book.image)%></p>
</div>
<div class='book_info'>
  <h3><%= @book.title %></h3>
  <p><%= link_to(@book.author.name, @book.author) if @book.author %></p>
  <p>Publication Date | <%= @book.year %></p>
  <p>Genre | <%= @book.genre %></p>
  <p>Description |<br/> <%= @book.description %></p>
    <div class='option'>
    <p>
      <%= link_to('Back', books_path)%>
      <%= link_to('Edit', edit_book_path(@book))%>
      <%= link_to('Delete', @book, :data => { :confirm => 'Are you sure you want to delete this?', :method => :delete }) %>
      <a href='/books/<%= @book.id + 1 %>'>Next</a>
    </p>
  </div>
</div>


