 <h2>
<% if params[:stop_on] == "" || params[:stop_off] == "" %>
  Please choose a starting and ending station.
<% elsif params[:stop_on].nil? && params[:stop_off].nil? %>
 Plan your journey with us today!
<% elsif params[:stop_on] == params[:stop_off] %>
  Please choose different stations.
<% end %>
</h2>

<% unless @stops_passed.nil? || @stops_passed.empty? %>
  <p>
  From <span class="stopinfo"><%= params[:stop_on] %></span> on the <span class="stopinfo"><%= @line_on.join %> line</span>  to <span class="stopinfo"><%= params[:stop_off] %></span>  on the <span class="stopinfo"><%= @line_off.join %> line</span>.
  </p><p>
  You will get off <%= @stops_passed.length - 1 %> stop<%= "s" if @stops_passed.length > 2 %> after <span class="stopinfo"><%= @stops_passed.first %></span>.
  </p>
  <% @stops_passed.each do |stop| %>
    <% unless stop == @stops_passed.last %>
      <div class="tripline"></div>
    <% end %>
    <div class="station">
    </div>
    <div class="stationtext">
    <%= stop %>
    <br>
    <em><%= "Switch here to the #{@line_off.join} Line!" if stop == @intersect %></em>
    </div>
    <br>
  <% end %>

  <h2>Thankyou for using MTA Trip Planner!</h2>
  <!-- <div class="arrow">^</div> -->
<% end %>