<!DOCTYPE html>
<html>
<head>
  <title>TunrApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <ul>
    <li><%= link_to('Home', '/') %> </li>
    <%== smartnav %><%# == means dont mess with my html  %>
  </ul>
</nav>

<%= yield %>

</body>
</html>
