<div id="edit_nav">
<a href="/tourist/<%= @place.id %>/edit">Edit</a>
<a href="/tourist/<%= @place.id %>/delete">Delete</a>
</div>

<h2>Description: <%= @place.description %> </h2>
<h2>Address: <%= @place.address %> </h2>

<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDRZL71ExmhZk-Ecf8KkQLs2kjc5jBHJqw&q=<%= @place.address %>">
</iframe>