<p>The Movie you looked for : <em><%= @movie['Title'] %><em> </p>
<p><img src=<%= @poster %></p>
<div>
<h3>Released <%= @year %> </h3>
<h3>Made by <%= @director %></h3>
<h3>Awards : </h3>
<h3> <%= @award %></h3>
<br>
<h3>Plot : </p>
<h4><%= @plot %></h4>
</div>


<!-- must put <% %> "after img src" -->

