<form action="/" method="get">
	<input name = "title" placeholder="Movie Title">
	<button>Search movie!</button>

</form>

	<img src=<%= @poster %>>

		<div id ="right"><p> 
			<h2 >Movie: <%= @title %></h2> 
			<p>Year:<%= @year%> Rate:<%=@rated%></p>
			<h2>The story:</h2>
				<p><%= @plot%></p>
			<h2>The actors:</h2>
				<p><%= @actors %></p>
		</div>
