<div class='event_form'>
  <%= form_for @event do |f| %>
    <p>
      <%= f.label :image, "Icon" %><br/>
      <%= f.select :image, grouped_options_for_select(Event.icon_option) %>
    </p>

    <p>
      <%= f.label :name, 'Title' %><br/>
      <%= f.text_field :name, :autofocus => true %>
    </p>

    <p>
      <%= f.label :date %><br/>
      <%= f.date_field :date %>
    </p>

    <%= f.submit %>
<% end %>
</div>
