<%= form_for @book do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :year %>
    <%= f.text_field :year %>
  </p>
  <p>
    <%= f.label :synopsis %>
    <%= f.text_area :synopsis %>
  </p>
  <p>
    <%= f.label :pages %>
    <%= f.text_field :pages %>
  </p>
  <p>
    <%= f.label :isbn %>
    <%= f.text_field :isbn %>
  </p>
  <p>
    <%= f.label :image %>
    <%= f.text_field :image %>
  </p>
  <p>
    <%= f.label :author_id %>
    <%= f.select :author_id, Author.all.map{|author| [author.name, author.id]}, include_blank: '' %>
  </p>
  <%= f.submit %>
<% end %>