

<h2>
  <%= @planet.name %>
</h2>
<% if @planet.image %>
<p><%= image_tag(@planet.image, :class => 'thumb')%></p>
<% end %>
<p>Orbit: <%= @planet.orbit %></p>
<p>Mass: <%= @planet.mass %></p>
<p>Diameter: <%= @planet.diameter %></p>
<p>Moons: <%= @planet.moons %></p>
<p>
  <%= link_to('Edit', planet_edit_path(@planet.id) )%>
</p>