<form action = "/<%= @id %>" method = "get">
  <input name = "search" placeholder = "Movie">
  <button> Search </button>
</form>

Title: <%= @title %> (<%= @year %>)<br>
Cast: <%= @actors %><br><br>
<img src="<%= @poster %>">

<%= @data %>