<div class="row">
  <div class="col-md-12 text-center">
    <div class="well controls">
      <%= link_to calendar_show_path(date: @date - 1.month), class: "btn btn-default" do %>
        <i class="glyphicon glyphicon-backward"></i>
      <% end %>
      <%= "#{@date.strftime("%B")} #{@date.year}" %>
      <%= link_to calendar_show_path(date: @date + 1.month), class: "btn btn-default" do %>
        <i class="glyphicon glyphicon-forward"></i>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= calendar @date do |date| %>
      <%= date.day  %>
      <% if @pub_holidays.present? %>
        <% @pub_holidays.each do |holiday| %>
          <% if holiday.date.strftime('%d').gsub(/^0/,'').to_s == date.day.to_s %>

            <ul>
              <li><%= holiday.local_name.to_s %></li>
            </ul>


          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>