<%= form_for @book do |f| %>
  <p>
  <%= f.label :title %>
  <%= f.text_field :title, :autofocus => true %>
  </p>
  <p>
  <%= f.label :author_id %>
  <%= f.select :author_id, Author.order(:name).map {|author| [author.name, author.id]}, :include_blank => true %> <!-- select expects an array of arrays -->
  </p>
  <p>
  <%= f.label :description %>
  <%= f.text_field :description %>
  </p>
  <p>
  <%= f.label :release %>
  <%= f.text_field :release %>
  </p>
  <p>
  <%= f.label :genre %>
  <%= f.text_field :genre %>
  </p>
  <p>
  <%= f.label :pages %>
  <%= f.text_field :pages %>
  </p>
  <p>
  <%= f.label :image, "Cover image" %>
  <%= f.text_field :image %>
  </p>
  <p>
  <%= f.label :ISBN %>
  <%= f.text_field :ISBN %>
  </p>
  <%= f.submit %>
<% end %>