<h2><%= @book.title %>
  <% if @book.author %>
    by <%= link_to(@book.author.name, @book.author) %>
  <% end %>
</h2>
  <%= image_tag(@book.image, :class => 'medthumb') %>
<p>
  <%= @book.description %>
</p>
<p>
  Genre: <%= @book.genre %>
</p>
<p>
  Publication date: <%= @book.release %>
</p>

<p>
  <%= link_to('Edit', edit_book_path(@book) ) %>
  <%= link_to( 'Remove', @book, :method => :delete, :data => {:confirm => "Are you sure you want to remove #{ @book.title }?"} ) %>
</p>