<!DOCTYPE html>
<html>
<head>
  <title>Classic Books</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Classic Book Colletion</h1>
<nav>
    <%= link_to("HOME", '/') %>
    <%= link_to('BOOKS', books_path) %>
    <%= link_to("NEW BOOK", new_book_path, :class => 'blank') %>
    <%= link_to('AUTHORS', authors_path) %>
    <%= link_to("NEW AUTHOR", new_author_path)%>


</nav>
<%= yield %>

</body>
</html>
