<h1><%= @info["name"] %></h1>
<img class="full" src="<%= @info["image"] %>" alt="<%= @info["name"] %>">
<a href="/videos/<%= @info["id"] %>/edit">Edit</a>
<a href="/videos/<%= @info["id"] %>/delete">Delete</a>